header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

header h2 {
    margin-left: 20px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
}