.categories {
    list-style: none;
    padding-top: 40px;
}

.categories li {
    margin-bottom: 10px;
}

.categories a {
    text-decoration: none;
    color: darkblue;
}

.categories a:hover {
    text-decoration: underline;
}